
<div class="row" >
    <div *ngFor="let gif of resultados" class="col-md-4 col-sm-6">
        <div class="card animate__animated animate__fadeIn">
            <img class="card-img-top" [src]="gif.images.fixed_height_small.url" alt="{{ gif.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ gif.title }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="{{ gif.url }}" class="btn btn-primary">Vamos alla</a>
            </div>
        </div>
    </div>
</div>